* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", "sans-serif";
}

body {
  /* background-color: #f4f7f9; */
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}